In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('Data/Hotel_details.csv')
df2 = pd.read_csv('Data/Hotel_Room_attributes.csv')
df3 = pd.read_csv('Data/hotel_price_min_max - Formula.csv')
df4 = pd.read_csv('Data/hotels_RoomPrice.csv')

In [3]:
df1.head()

,id,hotelid,hotelname,address,city,country,zipcode,propertytype,starrating,latitude,longitude,Source,url,curr
0,46406,1771651,Mediteran Bungalow Galeb,Vukovarska 7,Omis,Croatia,21310.0,Holiday parks,4,43.440124,16.682505,2,https://www.booking.com/hotel/hr/bungalow-luxu...,EUR
1,46407,177167,Hotel Polonia,Plac Teatralny 5,Torun,Poland,NaN,Hotels,3,53.012329,18.603800,5,https://www.agoda.com/en-gb/hotel-polonia/hote...,EUR
2,46408,1771675,Rifugio Sass Bece,"Belvedere del Pordoi,1",Canazei,Italy,38032.0,Hotels,3,46.477920,11.813350,2,http://www.booking.com/hotel/it/rifugio-sass-b...,EUR
3,46409,177168,Madalena Hotel,Mykonos,Mykonos,Greece,84600.0,Hotels,3,37.452316,25.329849,5,https://www.agoda.com/en-gb/madalena-hotel/hot...,EUR
4,46410,1771718,Pension Morenfeld,Mair im Korn Strasse 2,Lagundo,Italy,39022.0,Hotels,3,46.682780,11.131736,2,http://www.booking.com/hotel/it/pension-morenf...,EUR

In [4]:
df1['url']

0         https://www.booking.com/hotel/hr/bungalow-luxu...
1         https://www.agoda.com/en-gb/hotel-polonia/hote...
2         http://www.booking.com/hotel/it/rifugio-sass-b...
3         https://www.agoda.com/en-gb/madalena-hotel/hot...
4         http://www.booking.com/hotel/it/pension-morenf...
                                ...
108043    http://www.booking.com/hotel/de/stadt-tuttling...
108044     http://www.booking.com/hotel/bg/beroe.en-gb.html
108045    http://www.booking.com/hotel/bg/rothmans-bansk...
108046    https://www.booking.com/hotel/bg/rainbow-4-bou...
108047    http://www.booking.com/hotel/bg/rainbow-2-caca...
Name: url, Length: 108048, dtype: object

In [5]:
df2.head()

,id,hotelcode,roomamenities,roomtype,ratedescription
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed"
1,50672149,8328096,Air conditioning: ;Closet: ;Fireplace: ;Free W...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ..."
2,50643430,8323442,Air conditioning: ;Closet: ;Dishwasher: ;Firep...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ..."
3,50650317,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds"
4,50650318,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds"

## Quick Data Check

In [6]:
df2.rename(columns = {'hotelcode':'hotelid'},inplace = True)

In [7]:
df_new = df2.merge(df1,on = 'hotelid')

In [8]:
df_new.head()

,id_x,hotelid,roomamenities,roomtype,ratedescription,id_y,hotelname,address,city,country,zipcode,propertytype,starrating,latitude,longitude,Source,url,curr
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,NaN,Hotels,4,51.150921,-3.158470,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP
1,50672149,8328096,Air conditioning: ;Closet: ;Fireplace: ;Free W...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",66727,Pantlleni,NaN,Beddgelert,United Kingdom,NaN,Hotels,3,53.042229,-4.033180,5,https://www.agoda.com/en-gb/pantlleni/hotel/be...,GBP
2,50643430,8323442,Air conditioning: ;Closet: ;Dishwasher: ;Firep...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",65369,Willow Cottage,NaN,Beverley,United Kingdom,NaN,Hotels,3,53.843220,-0.497970,5,https://www.agoda.com/en-gb/willow-cottage/hot...,GBP
3,50650317,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",60309,Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,NaN,Hotels,2,51.511234,-0.185117,5,https://www.agoda.com/en-gb/apollo-hotel-londo...,GBP
4,50650318,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",60309,Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,NaN,Hotels,2,51.511234,-0.185117,5,https://www.agoda.com/en-gb/apollo-hotel-londo...,GBP

In [9]:
df_new.shape

(181415, 18)

In [10]:
df_new.isna().sum()

id_x                   0
hotelid                0
roomamenities       5309
roomtype               0
ratedescription     5309
id_y                   0
hotelname              0
address              577
city                   0
country                0
zipcode            86703
propertytype           0
starrating             0
latitude               0
longitude              0
Source                 0
url                    0
curr                   0
dtype: int64

In [11]:
df_new.duplicated().sum()

0

In [12]:
df_new.drop(['zipcode'],axis = 1,inplace = True)

In [13]:
df_new.dropna(inplace = True)

In [14]:
df_new.shape

(175529, 17)

In [15]:
df3.rename(columns  = {'hotelcode':'hotelid'},inplace = True)

In [16]:
pd.set_option('display.max_columns',30)

In [17]:
df4.head()

,id,refid,hotelcode,websitecode,dtcollected,ratedate,los,guests,roomtype,onsiterate,netrate,currency,ratedescription,ratetype,sourceurl,roomamenities,maxoccupancy,ispromo,closed,discount,promoname,status_code,taxstatus,taxtype,taxamount,proxyused,israteperstay,mealinclusiontype,hotelblock,input_dtcollected
0,50677497,8646773,634876,5,2019-10-12 15:46:54,2019-11-02,1,1,Double Room,82.36,87.84,USD,"Room size: 15 m²/161 ft², Shower, 1 king bed",Cancellation policy,https://www.agoda.com/en-gb/the-old-cider-hous...,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,1,Y,N,6.24,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.165.126:80,Y,Free Breakfast,NaN,2019-10-13
1,50672149,6234691,8328096,5,2019-10-12 15:47:45,2019-11-30,1,1,Vacation Home,636.09,0.00,USD,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",Cancellation policy,https://www.agoda.com/en-gb/pantlleni/hotel/be...,Air conditioning: ;Closet: ;Fireplace: ;Free W...,4,N,N,0.00,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.164.126:80,Y,NaN,NaN,2019-10-13
2,50643430,7015677,8323442,5,2019-10-12 15:47:00,2019-12-20,1,1,Vacation Home,591.74,0.00,USD,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",Extra low price! (non-refundable),https://www.agoda.com/en-gb/willow-cottage/hot...,Air conditioning: ;Closet: ;Dishwasher: ;Firep...,4,N,N,0.00,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.166.122:80,Y,NaN,NaN,2019-10-13
3,50650317,7327094,7975,5,2019-10-12 15:47:02,2019-12-28,1,1,Standard Triple Room,881.48,0.00,USD,"Room size: 20 m²/215 ft², Shower, 3 single beds",Extra low price! (non-refundable),https://www.agoda.com/en-gb/apollo-hotel-londo...,Air conditioning: ;Clothes rack: ;Coffee/tea m...,1,N,N,0.00,NaN,200,2,Tax 20%,0.0,media:M3diAproxy@209.242.219.141:80,Y,NaN,NaN,2019-10-13
4,50650318,7327094,7975,5,2019-10-12 15:47:02,2019-12-28,1,1,Standard Triple Room,897.53,0.00,USD,"Room size: 20 m²/215 ft², Shower, 3 single beds",Extra low price! (non-refundable),https://www.agoda.com/en-gb/apollo-hotel-londo...,Air conditioning: ;Clothes rack: ;Coffee/tea m...,3,N,N,0.00,NaN,200,2,VAT $ 179.51,0.0,media:M3diAproxy@209.242.219.141:80,Y,Free breakfast for {3},NaN,2019-10-13

In [18]:
df6 = df_new.merge(df3,on = 'hotelid')

In [19]:
df6.duplicated().sum()

0

### Finally we will be using df as our main dataframe

In [20]:
df = df6

In [21]:
df.head()

,id_x,hotelid,roomamenities,roomtype,ratedescription,id_y,hotelname,address,city,country,propertytype,starrating,latitude,longitude,Source,url,curr,min,max,Diff_Min,Diff_Max,Score
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",135972,The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,51.150921,-3.158470,5,https://www.agoda.com/en-gb/the-old-cider-hous...,GBP,82.36,107.70,0.084,0.418,0.25
1,50650317,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",60309,Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,51.511234,-0.185117,5,https://www.agoda.com/en-gb/apollo-hotel-londo...,GBP,881.48,1055.92,7.540,2.821,5.18
2,50650318,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",60309,Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,51.511234,-0.185117,5,https://www.agoda.com/en-gb/apollo-hotel-londo...,GBP,881.48,1055.92,7.540,2.821,5.18
3,50650319,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",60309,Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,51.511234,-0.185117,5,https://www.agoda.com/en-gb/apollo-hotel-londo...,GBP,881.48,1055.92,7.540,2.821,5.18
4,50650320,7975,Air conditioning: ;Clothes rack: ;Heating: ;In...,Deluxe Triple Room,"Shower, 1 single bed and 1 double bed",60309,Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,51.511234,-0.185117,5,https://www.agoda.com/en-gb/apollo-hotel-londo...,GBP,881.48,1055.92,7.540,2.821,5.18

In [22]:
df.shape

(175544, 22)

In [23]:
df.drop(['id_y','latitude','longitude','Source','curr'],axis = 1,inplace = True)

In [24]:
df.rename(columns = {'id_x':'id'},inplace = True)

In [25]:
df.duplicated().sum()

0

In [26]:
indices = df[df['id'].duplicated()].index

In [27]:
df.drop(index = indices,inplace = True)

In [28]:
df['id'].duplicated().sum()

0

In [29]:
df.shape

(160438, 17)

In [30]:
df.duplicated().sum()

0

## Data Cleaning

## 1. roomamenities

- Removing whitespaces is necessary for our the recommendation so that it treats the entire word as one single entity

In [31]:
def remove_whitespace(text):
   return  text.replace(' ','')

In [32]:
df['roomamenities'][0]

'Air conditioning: ;Alarm clock: ;Carpeting: ;Closet: ;Coffee/tea maker: ;Desk: ;DVD/CD player: ;Fan: ;Free Wi-Fi in all rooms!: ;Hair dryer: ;Heating: ;In-room safe box: ;Ironing facilities: ;Linens: ;Mini bar: ;Seating area: ;Toiletries: ;Towels: ;TV [flat screen]: ;'

In [33]:
df['roomamenities_tag'] = df['roomamenities'].apply(lambda x:x.replace(': ;',','))

In [34]:
df['roomamenities_tag'] = df['roomamenities_tag'].apply(remove_whitespace)

In [35]:
df['roomamenities_tag'] = df['roomamenities_tag'].apply(lambda x:x.split(','))

In [36]:
df['roomamenities_tag'][66071]

['Airconditioning',
 'FreeWi-Fiinallrooms!',
 'In-roomsafebox',
 'Shower',
 'TV',
 '']

### 2. roomtype

In [37]:
df['roomtype']

0                  Double Room
1         Standard Triple Room
2         Standard Triple Room
3         Standard Triple Room
4           Deluxe Triple Room
                  ...
175539               Twin Room
175540               Twin Room
175541               Twin Room
175542           Twin Standard
175543         Double Standard
Name: roomtype, Length: 160438, dtype: object

In [38]:
df['roomtype_tag'] = df['roomtype'].apply(remove_whitespace)

In [39]:
df['roomtype_tag'] =  df['roomtype_tag'].apply(lambda x:[x])

In [40]:
df['roomtype_tag'][66071]

['DoubleStandard']

## 3. ratedescription

In [41]:
df['ratedescription']

0              Room size: 15 m²/161 ft², Shower, 1 king bed
1           Room size: 20 m²/215 ft², Shower, 3 single beds
2           Room size: 20 m²/215 ft², Shower, 3 single beds
3           Room size: 20 m²/215 ft², Shower, 3 single beds
4                     Shower, 1 single bed and 1 double bed
                                ...
175539    Room size: 17 m²/183 ft², Non-smoking, Shower,...
175540    Room size: 17 m²/183 ft², Non-smoking, Shower,...
175541    Room size: 17 m²/183 ft², Non-smoking, Shower,...
175542    Pay nothing until November 21, 2019, Free Wi-F...
175543    Pay nothing until November 21, 2019, Free Wi-F...
Name: ratedescription, Length: 160438, dtype: object

- Remove room size because rooms with exact same size is not an important parameter for recommending hotel rooms

In [42]:
import re

def transform(text):
    return re.sub(r'Room size: \d+ m²/\d+ ft², ','',text)

In [43]:
df['ratedescription_tag'] = df['ratedescription'].apply(transform)

In [44]:
df['ratedescription_tag'] = df['ratedescription_tag'].apply(remove_whitespace)

In [45]:
df['ratedescription_tag'] = df['ratedescription_tag'].apply(lambda x:x.split(','))

### 4. address

In [46]:
df['address'].nunique()

8435

In [47]:
df['address_tag'] = df['address'].apply(remove_whitespace)

In [48]:
df['address_tag'] = df['address_tag'].apply(lambda x:x.split())

### 5. city

In [49]:
df['city_tag'] = df['city'].apply(remove_whitespace)

In [50]:
df['city_tag'] = df['city_tag'].apply(lambda x:x.split())

In [51]:
df['city_tag']

0                [NetherStowey]
1                      [London]
2                      [London]
3                      [London]
4                      [London]
                  ...
175539    [Newcastle-upon-Tyne]
175540    [Newcastle-upon-Tyne]
175541    [Newcastle-upon-Tyne]
175542    [Newcastle-upon-Tyne]
175543    [Newcastle-upon-Tyne]
Name: city_tag, Length: 160438, dtype: object

### 6. country

In [52]:
df['country_tag'] = df['country'].apply(remove_whitespace)

In [53]:
df['country_tag'] = df['country_tag'].apply(lambda x:x.split())

In [54]:
df['country_tag']

0         [UnitedKingdom]
1         [UnitedKingdom]
2         [UnitedKingdom]
3         [UnitedKingdom]
4         [UnitedKingdom]
               ...
175539    [UnitedKingdom]
175540    [UnitedKingdom]
175541    [UnitedKingdom]
175542    [UnitedKingdom]
175543    [UnitedKingdom]
Name: country_tag, Length: 160438, dtype: object

### 7. propertytype

In [55]:
df['propertytype_tag'] = df['propertytype'].apply(remove_whitespace)

In [56]:
df['propertytype_tag'] = df['propertytype_tag'].apply(lambda x:x.split())

In [57]:
df.head()

,id,hotelid,roomamenities,roomtype,ratedescription,hotelname,address,city,country,propertytype,starrating,url,min,max,Diff_Min,Diff_Max,Score,roomamenities_tag,roomtype_tag,ratedescription_tag,address_tag,city_tag,country_tag,propertytype_tag
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed",The Old Cider House,25 Castle Street,Nether Stowey,United Kingdom,Hotels,4,https://www.agoda.com/en-gb/the-old-cider-hous...,82.36,107.70,0.084,0.418,0.25,"[Airconditioning, Alarmclock, Carpeting, Close...",[DoubleRoom],"[Shower, 1kingbed]",[25CastleStreet],[NetherStowey],[UnitedKingdom],[Hotels]
1,50650317,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,https://www.agoda.com/en-gb/apollo-hotel-londo...,881.48,1055.92,7.540,2.821,5.18,"[Airconditioning, Clothesrack, Coffee/teamaker...",[StandardTripleRoom],"[Shower, 3singlebeds]",[64-66QueensboroughTerrace],[London],[UnitedKingdom],[Hotels]
2,50650318,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,https://www.agoda.com/en-gb/apollo-hotel-londo...,881.48,1055.92,7.540,2.821,5.18,"[Airconditioning, Clothesrack, Coffee/teamaker...",[StandardTripleRoom],"[Shower, 3singlebeds]",[64-66QueensboroughTerrace],[London],[UnitedKingdom],[Hotels]
3,50650319,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds",Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,https://www.agoda.com/en-gb/apollo-hotel-londo...,881.48,1055.92,7.540,2.821,5.18,"[Airconditioning, Clothesrack, Coffee/teamaker...",[StandardTripleRoom],"[Shower, 3singlebeds]",[64-66QueensboroughTerrace],[London],[UnitedKingdom],[Hotels]
4,50650320,7975,Air conditioning: ;Clothes rack: ;Heating: ;In...,Deluxe Triple Room,"Shower, 1 single bed and 1 double bed",Apollo Hotel London,64-66 Queensborough Terrace,London,United Kingdom,Hotels,2,https://www.agoda.com/en-gb/apollo-hotel-londo...,881.48,1055.92,7.540,2.821,5.18,"[Airconditioning, Clothesrack, Heating, In-roo...",[DeluxeTripleRoom],"[Shower, 1singlebedand1doublebed]",[64-66QueensboroughTerrace],[London],[UnitedKingdom],[Hotels]

### Creating tags for each room of the hotels as a list of keywords which will serve as the basis for the recommendation system

In [58]:
df['tags'] = df['roomamenities_tag'] + df['roomtype_tag'] + df['ratedescription_tag'] + df['address_tag'] + df['city_tag'] + df['country_tag'] + df['propertytype_tag']

In [59]:
df['tags'] = df['tags'].apply(lambda x:" ".join(x))

### Filtering the important columns

In [60]:
df_final = df[['hotelname','tags','starrating','roomtype','country','city','propertytype']]

In [61]:
df_final.duplicated().sum()

117114

In [62]:
df_final.drop_duplicates(inplace = True)

C:\Users\Aditya kalsi\AppData\Local\Temp\ipykernel_15352\3496236793.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.drop_duplicates(inplace = True)

In [63]:
df_final.isna().sum()

hotelname       0
tags            0
starrating      0
roomtype        0
country         0
city            0
propertytype    0
dtype: int64

In [64]:
df_final.reset_index(inplace = True)

In [65]:
df_final[df_final['country'] == 'France']['propertytype'].unique().tolist()

['Hotels', 'Holiday parks', 'Resorts', 'Campsites']

In [66]:
df_final.head(3)

,index,hotelname,tags,starrating,roomtype,country,city,propertytype
0,0,The Old Cider House,Airconditioning Alarmclock Carpeting Closet Co...,4,Double Room,United Kingdom,Nether Stowey,Hotels
1,1,Apollo Hotel London,Airconditioning Clothesrack Coffee/teamaker Da...,2,Standard Triple Room,United Kingdom,London,Hotels
2,4,Apollo Hotel London,Airconditioning Clothesrack Heating In-roomsaf...,2,Deluxe Triple Room,United Kingdom,London,Hotels

In [86]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000,stop_words='english')

In [87]:
from sklearn.metrics.pairwise import cosine_similarity

In [88]:
def recommend(type,country,city,property):
    
    ## filtering the dataframe to the requirements of the user
    filtered_df = df_final[
        (df_final['roomtype'] == type) &
        (df_final['country'] == country) &
        (df_final['city'] == city) &
        (df_final['propertytype'] == property)
    ]

    ## creating a temporary dataframe so that we recommend hotels only from the speicified country and city rather than using the entire df which
    ## could lead to results from different cities and countries
    temp = df_final[
        (df_final['country'] == country) &
        (df_final['city'] == city) 
    ]

    ## indices of the hotels of user requirements
    idx1 = filtered_df['index'].tolist()

    ## reseting index because we need to search for the indices in idx1 in temp
    temp.reset_index(inplace = True)

    ## extracting the index(of the dataframe) of the specified hotels 
    idx2 = temp[temp['index'].isin(idx1)].index.tolist()
    
    ## creating similarity matrix
    vector = tfidf.fit_transform(temp['tags']).toarray()
    similarity = cosine_similarity(vector)
    
    ## traverse each user specified hotel and extract top recommend hotels for each specified hotel
    recommendations = set()
    for i in idx2:
        similar_hotels = sorted(list(enumerate(similarity[i])),key = lambda x:x[1],reverse = True)[0:5]
        for hotel in similar_hotels:
             recommendations.add(tuple(temp.loc[hotel[0]][['hotelname','roomtype','starrating']]))
    return list(recommendations)

In [89]:
recommend('Comfort Single Room','Germany','Munich','Hotels')

[('Hotel Mons am Goetheplatz', 'Comfort Single Room', 2),
 ('Hotel Freisinger Hof', 'Classic Single Room - Annex', 4),
 ('Hotel Mons am Goetheplatz', 'Comfort Double Room', 2),
 ('Hotel am Schlosspark Zum Kurfurst', 'Comfort Single Room', 3),
 ('Hotel Mons am Goetheplatz', 'Single Room with Shared Bathroom', 2),
 ('Hotel Freisinger Hof', 'Suite', 4),
 ('Hotel Mons am Goetheplatz', 'Standard Double Room', 2),
 ('Hotel Freisinger Hof', 'Comfort Single Room', 4),
 ('Hotel Freisinger Hof', 'Comfort Double Room', 4),
 ('Hotel am Schlosspark Zum Kurfurst', 'Superior Double Room', 3),
 ('Hotel am Schlosspark Zum Kurfurst', 'Comfort Double Room', 3),
 ('Hotel Freisinger Hof', 'Superior Single Room', 4),
 ('Hotel Mons am Goetheplatz', 'Standard Single Room', 2)]

In [71]:
recommend('Double Room','France','Paris','Hotels')

[('Comfort Hotel Paris Lafayette', 'Twin Room', 3),
 ('Hotel Pavillon Montmartre', 'Twin Room', 3),
 ('Qualys-Hotel Nanterre-Paris La Defense', 'Superior Twin Room', 3),
 ('Hotel Colisee', 'Single Room', 3),
 ('Le Regence Hotel', 'Double Room - Superior (2 people)', 4),
 ('Hotel Colisee', 'Triple Room', 3),
 ('Campanile Paris Ouest Nanterre La Defense', 'Twin', 3),
 ('Hotel Mercure Paris Saint-Ouen', 'Superior Double Room (3 Adults)', 4),
 ('Campanile Paris Est Porte De Bagnolet Hotel', 'Triple', 3),
 ('Hotel de Geneve', 'Quad', 3),
 ('Hotel Cordelia', 'Double Room', 3),
 ('Hotel Cluny Square', 'Double Room', 3),
 ('Hotel Camelia International', 'Twin Room', 2),
 ('Hotel Berkeley', 'Double Room', 3),
 ('Pavillon Porte de Versailles', 'Standard Twin with Breakfast', 3),
 ('Hotel George Washington', 'Twin Room', 4),
 ('Hotel Bristol Republique', 'Double/ Twin Room', 3),
 ('Premiere Classe Paris Ouest - Pont de Suresnes Hotel', 'Double Room', 2),
 ('Le Regence Hotel', 'Triple Room', 4),
 ('Hotel Bonne Nouvelle', 'Single Room', 3),
 ('Apogia Hotel', 'Confort Single room', 3),
 ('Hotel Bonne Nouvelle', 'Triple Room', 3),
 ('Hotel Royal Madeleine', 'Single Room', 4),
 ('Hotel Cordelia', 'Twin/Double Room', 3),
 ('Hotel Cluny Square', 'Double with Balcony', 3),
 ('Campanile Paris Est Porte De Bagnolet Hotel', 'Run of House', 3),
 ('Campanile Paris Ouest - Levallois Perret', 'Twin Room', 3),
 ('Pavillon Porte de Versailles', 'Classic Room', 3),
 ('Hotel La Bourdonnais', 'Double Room', 4),
 ('Le Regence Hotel', 'Single Room', 4),
 ('Hotel Royal Madeleine', 'Deluxe Room', 4),
 ('Hotel Bonne Nouvelle', 'Double Room', 3),
 ('Super Hotel', 'Double Room', 3),
 ('Hotel Marais Bastille', 'Twin Room', 3),
 ('Hotel Le Pavillon', 'Twin Room', 3),
 ('Hotel Richmond', 'Double Room', 2),
 ('Hotel Marais Bastille', 'Superior Double', 3),
 ('Hotel La Vieille France', 'Double Room', 2),
 ('Hotel Beaugency', 'Single Room', 3),
 ('Hotel Camelia International', 'Quadruple Room', 2),
 ('Hotel La Bourdonnais', 'Junior Suite', 4),
 ('Hotel Le Bailli de Suffren', 'Twin Room', 3),
 ('Hotel Berkeley', 'Single Room', 3),
 ('Hotel Tour Eiffel', 'Quadruple Room with Terrace', 2),
 ('Hotel Opera Paris', 'Double Room', 2),
 ('Coypel Hotel', 'Triple Family Room', 2),
 ('Hotel Richmond', 'Twin', 2),
 ('Hotel George Washington', 'Superior Twin Room', 4),
 ('Campanile Paris Ouest - Levallois Perret', 'Double Room', 3),
 ('ibis budget Paris Porte de Bercy', 'Basic Triple Room', 2),
 ('Premiere Classe Paris Ouest - Pont de Suresnes Hotel', 'Triple Room', 2),
 ('Campanile Paris Est Porte De Bagnolet Hotel', 'Twin Room', 3),
 ('Best Western Hotel Litteraire Arthur Rimbaud', 'Double', 4),
 ('Hotel Opera Paris', 'Single', 2),
 ('Qualys-Hotel Nanterre-Paris La Defense', 'Superior Double Room', 3),
 ('Hotel Tour Eiffel', 'Double Room', 2),
 ('Seven Hotel', 'Double', 4),
 ('Qualys-Hotel Nanterre-Paris La Defense', 'Double Room', 3),
 ('Coypel Hotel', 'Superior Double Room', 2),
 ('Super Hotel', 'Single Room', 3),
 ('Hotel Berkeley', 'Superior Double Room', 3),
 ('Hotel Richmond', 'Single Room', 2),
 ('Hotel La Vieille France', 'Triple Room', 2),
 ('Hotel LOCOMO', 'Triple Room', 3),
 ('ibis budget Paris Porte d Italie Est', 'Standard Triple', 2),
 ('Hotel Marais Bastille', 'Double Room', 3),
 ('Hotel Beaugency', 'Superior Twin', 3),
 ('Hotel Colisee', 'Twin Room', 3),
 ('Hotel du Theatre', 'Two Adjacent Double Rooms ', 3),
 ('Comfort Hotel Paris Lafayette', 'Single Room', 3),
 ('Hotel Pax Montmartre', 'Double Room', 2),
 ('Comfort Hotel Paris Lafayette', 'Triple Room', 3),
 ('Hotel Pavillon Montmartre', 'Triple Room', 3),
 ('Hotel LOCOMO', 'Double Room', 3),
 ('Comfort Hotel Paris Lafayette', 'Double Room', 3),
 ('Hotel Camelia International', 'Triple Room', 2),
 ('Hotel Astor', 'Double Room', 3),
 ('Hotel George Washington', 'Superior King Room', 4),
 ('Pavillon Porte de Versailles', 'Double Room with Breakfast', 3),
 ('ibis budget Paris Porte d Italie Est', 'Double Room', 2),
 ('Hotel Pavillon Montmartre', 'Double Room', 3),
 ('Hotel Ecole Centrale', 'Exclusive Double Room', 3),
 ('Pavillon Porte de Versailles', 'Double Room', 3),
 ('Hotel LOCOMO', 'Large Double or Twin Room', 3),
 ('ibis budget Paris Porte de Bercy', '3 Single Beds Room', 2),
 ('Hotel La Bourdonnais', 'Executive Room', 4),
 ('Pavillon Porte de Versailles',
  'Double Room with Breakfast - Non Refundable',
  3),
 ('Apogia Hotel', 'Double Room', 3),
 ('Hotel Camelia International', 'Double Room', 2),
 ('Hotel Marais Bastille', 'Single Room', 3),
 ('Hotel Le Pavillon', 'Single Room', 3),
 ('Hotel de Geneve', 'Double Room', 3),
 ('Hotel Beaugency', 'Twin Room', 3),
 ('Hotel du Theatre', 'Double Room', 3),
 ('Hotel Odyssey Paris by Elegancia', 'Superior Double Room', 3),
 ('Hotel Le Bailli de Suffren', 'Executive Double Room', 3),
 ('Hotel Cluny Square', 'Twin Room', 3),
 ('Hotel Tour Eiffel', 'Triple', 2),
 ('Hotel Ecole Centrale', 'Single Room', 3),
 ('Ibis Styles Hotel Paris Gare de Lyon Bastille', 'Standard Double Room', 3),
 ('Hotel Le Pavillon', 'Double Room', 3),
 ('Hotel Tour Eiffel', 'Double Superior', 2),
 ('Hotel LOCOMO', 'Single Room', 3),
 ('ibis budget Paris Porte de Bercy', 'Double Room', 2),
 ('Hotel Ecole Centrale', 'Double Room', 3),
 ('Hotel Astor', 'Single Room', 3),
 ('CAMPANILE VAL DE France', 'Double Room', 3),
 ('Hotel Opera Paris', 'Run of House', 2),
 ('Hotel Bristol Republique', 'Single', 3),
 ('Hotel du Theatre', 'Comfort Double or Twin Room', 3),
 ('Le Regence Hotel', 'Double Room', 4),
 ('Pavillon Porte de Versailles', 'Single Classic', 3),
 ('Hotel Le Bailli de Suffren', 'Double Room', 3),
 ('Hotel Royal Madeleine', 'Luxury Quadruple Room', 4),
 ('Hotel Royal Madeleine', 'Superior Room', 4),
 ('Hotel La Bourdonnais', 'Classic Single Room', 4),
 ('Hotel Pavillon Montmartre', 'Single Room', 3),
 ('Hotel Richmond', 'Triple', 2),
 ('Hotel Le Pavillon', 'Superior - 2 Adults', 3),
 ('Qualys-Hotel Nanterre-Paris La Defense',
  'Triple - 1 Double Bed And 1 Single Bed',
  3),
 ('Apogia Hotel', 'Triple Room', 3),
 ('Comfort Hotel Paris Lafayette', 'Superior Double Room', 3),
 ('Hotel Balladins Bobigny', 'Double Room', 3),
 ('Hotel Camelia International', 'Single Room', 2),
 ('Hotel Cluny Square', 'Romance Suite', 3),
 ('Premiere Classe Paris Ouest - Pont de Suresnes Hotel',
  'Triple room - 3 single beds',
  2),
 ('Villa Luxembourg Hotel', 'Run of House', 4),
 ('Hotel La Vieille France', 'Twin Room', 2),
 ('Hotel Wilson Opera', 'Superior Double Room', 3),
 ('Hotel Mercure Paris Saint-Ouen', 'Classic Room with 1 Double Bed', 4),
 ('Hotel George Washington', 'Triple Room', 4),
 ('Le Regence Hotel', 'Twin Room', 4),
 ('Hotel Bonne Nouvelle', 'Twin Room', 3),
 ('Hotel Beaugency', 'Double Room', 3),
 ('Campanile Paris Est Porte De Bagnolet Hotel', 'Double Room', 3),
 ('Apogia Hotel', 'Superior Double Room', 3),
 ('Hotel George Washington', 'Double Room', 4),
 ('Coypel Hotel', 'Double Room', 2),
 ('Hotel Cluny Square', 'Voyage Suite', 3),
 ('Hotel Opera Paris', 'Twin Room', 2),
 ('Hotel LOCOMO', 'Small Single Room', 3),
 ('Villa Luxembourg Hotel', 'Double Room', 4),
 ('ibis budget Paris Porte de Bercy', 'Triple Room', 2),
 ('Hipotel Paris Printania', 'Double Room', 2),
 ('Hotel Balladins Bobigny', 'Twin Bedded Room', 3),
 ('Hotel Berkeley', 'Standard Room', 3),
 ('Campanile Paris Est Porte De Bagnolet Hotel', 'Quadruple RoomNRF', 3),
 ('Hotel La Bourdonnais', 'Deluxe Double Room', 4),
 ('Hotel Ecole Centrale', 'Superior Room', 3),
 ('Campanile Paris Est Porte De Bagnolet Hotel',
  'Triple - 1 Double Bed + 1 Single Bed',
  3),
 ('Hotel Beaugency', 'Superior Double', 3),
 ('Qualys-Hotel Nanterre-Paris La Defense', 'Twin Room', 3),
 ('Hotel Colisee', 'Double Room', 3),
 ('Campanile Paris XIX La Villette', 'Double Room Next Generation', 3),
 ('Coypel Hotel', 'Twin Room', 2),
 ('Le Relais du Marais Hotel', 'Single Room', 3),
 ('Hotel Montsouris Orleans', 'Double Room', 3),
 ('Pavillon Porte de Versailles', 'Double Room - non refundable', 3),
 ('Hotel La Vieille France', 'Quadruple Room', 2),
 ('Hotel Tour Eiffel', 'Comfort Quadruple Room', 2),
 ('Le Relais du Marais Hotel', 'Double Room', 3),
 ('Hotel Mercure Paris Orly Rungis', 'Classic \xa0Double Room', 4),
 ('Hotel Pax Montmartre', 'Twin Room', 2),
 ('Hotel Astor', 'Privilege Double Room', 3),
 ('Hotel Royal Madeleine', 'Double Room', 4),
 ('Apogia Hotel', 'Single Room', 3),
 ('CAMPANILE VAL DE France', 'Twin Room', 3),
 ('Coypel Hotel', 'Single Room', 2),
 ('Super Hotel', 'Twin Room', 3),
 ('Hotel Richmond', 'Superior Double', 2)]

In [90]:
recommend('Double Room','Spain','Manchester','Hotels')

ValueError: empty vocabulary; perhaps the documents only contain stop words

In [101]:
x = df_final[df_final['country'] == 'Spain']['city'] == 'Manchester'
x[x]

Series([], Name: city, dtype: bool)

In [72]:
import joblib

In [73]:
joblib.dump(df_final,'df_final.joblib')

['df_final.joblib']

In [74]:
print(pd.__version__)

2.2.2

In [75]:
joblib.dump(recommend,'recommend.joblib')

['recommend.joblib']

In [76]:
import pickle

In [77]:
pickle.dump(df_final,open('df_final.pkl','wb'))

In [78]:
pickle.dump(recommend,open('recommend.pkl','wb'))